# ==========================================
# Configurações de Ambiente - FiapCloudGames
# ==========================================

# 1. Banco de Dados (SQL Server)
MSSQL_SA_PASSWORD=TechChallenge@2026
# 2. Segurança (Autenticação JWT)
JWT_SECRET=faf4648d-29ca-4c12-a733-a778a60f971a
# 3. Redis
# Senha do utilizador
REDIS_SA_PASSWORD=TechChallenge@2026