# ==========================================
# Configurações de Ambiente - FiapCloudGames
# ==========================================

# 1. Banco de Dados (SQL Server)
# Senha do utilizador 'sa'. Deve conter letras maiúsculas, minúsculas, números e caracteres especiais.
DB_SA_PASSWORD=SuaSenhaSuperForte123!

# 2. Segurança (Autenticação JWT)
# Chave secreta para assinatura dos tokens JWT (Mínimo de 32 caracteres)
JWT_SECRET=MinhaChaveSuperSecretaParaOJwtDoTechChallenge2024!